.ckeditor-coms-formtext{
	border:1px solid #c7c7c7;
	border: 1px solid #c7c7c7;
    padding: 7px 5px;
    height: 18px;
    line-height: 18px;
    box-sizing:content-box; 
}

.ckeditor-btn-default{
	background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 15px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    min-width:50px;
    text-align:center;  
    height: 33px;
    font-size: 14px;
    line-height: 33px;
    text-decoration: none;
    &:hover {
    	text-decoration:none; 
        background: #f0f0f0;
    }
}

.ckeditor-btn-primary{
	background: #00b7ee;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
    border-radius: 3px;
  	min-width:50px;
    cursor: pointer;
    font-size: 14px;
    text-align:center; 
    height: 35px;
    line-height: 35px;
    &:hover {
    	text-decoration:none; 
        background: #00a2d4;
    }
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}



.ckclearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.ckclearfix {
  zoom: 1;
}