

.ckeditor-iframebox-dialog{
	display:none; 
	.lab{
		width:80px;
		padding-right:10px;
		line-height:34px; 
		float:left; 
		text-align: right;  
	}
	.item-cell{
		padding-top:15px; 
	}
}

.ckeditor-iframebox-ft{
	border-top: 1px solid #eee;
    padding: 12px 15px;
    margin-top: 15px;
    text-align:right; 
    a{
    	margin-left:10px;
    }
}