.ckeditor-tablebox-dialog{
	display:none; 
	.item-cell{
		margin-top:15px;
		.lab{
			line-height:34px;
			min-width:70px;
			float:left;
			text-align:right;
			padding-right:10px;   
		}
	}
	.tip-width{
		font-size:12px;
		color:#999;  
	}
}




.ckeditor-tablebox-ft{
	border-top: 1px solid #eee;
    padding: 12px 15px;
    margin-top:12px;
    text-align:right;
    a{
    	margin:0 3px; 
    }
}