.ckeditor-imgupload-dialog {
    float: left;
    width: 700px;
    background: #fff;
    border: 1px solid #e5e5e5;
    height: 450px;
    overflow: hidden;
    display: none;
    .imgupload-tab-hd {
        background: #F8F8F8;
        height: 42px;
        line-height: 42px;
        position: relative;
        border-bottom: 1px solid #eee;
        li {
            float: left;
            a {
                padding: 0 20px;
                font-size: 14px;
                color: #333;
                min-width: 80px;
                max-width: 260px;
                line-height: 41px;
                text-align: center;
                display: block;
                text-decoration: none;
            }
            &.active {
                height: 43px;
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                background-color: #fff;
            }
            &.move-seat {
                position: absolute;
                right: 0;
                left: 245px;
                height: 100%;
            }
        }
    }
}


.ckeditor-uploadfile-container {
    position: relative;

    .ckeditor-uploadfile-errortip {
        position: absolute;
        left: 0;
        bottom: 62px;
        right: 0;
        padding: 10px 15px;
        border: 1px solid #cd0a0a;
        background: #fef1ec;
        font-size: 12px;
        display: none;
        .close {
            width: 14px;
            height: 14px;
            position: absolute;
            overflow: hidden;
            right: 5px;
            top: 5px;
            background: url("../images/webuploader/del_small.png") no-repeat center #cd0a0a;
            border-radius: 50%;
        }
    }
}
.ckeditor-uploadfile-no{
    font-size:16px;
    text-align:center;
    color:#999;
    padding:180px 0 0;
    width:100%;
    position:absolute;
    left:0;
    top:0;
}


.ckeditor-uploadfile-list {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 300px;
    clear: both;
    width: 730px;
    padding: 0 10px;
    border-bottom: 1px solid #e6e6e6;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    li {
        float: left;
        width: 112px;
        height: 112px;
        margin: 15px 12px 0;
        overflow: hidden;
        position: relative;
        &.selected{
            .img-wrap {
                border-color:#00b7ee;
            }
        }
        .img-wrap {
            border: 1px solid #e6e6e6;
            font-size: 0;
            width: 110px;
            height: 110px;
            overflow: hidden;
            text-align: center;

            color: #000;
        }

        .preview-pic {
            display: none;
            line-height: 110px;
            overflow: hidden;
            .uploadimg,
            canvas {
                max-width: 100% !important;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .preview-tip,
        .preview-name {
            line-height: 110px;
            padding: 0 10px;
            overflow: hidden;
            font-size: 12px;
            span {
                word-wrap: break-word;
                word-break: break-all;
                line-height: 21px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .preview-tip {
            font-size: 14px;
            color: #999;
            background: url("../images/webuploader/bg.png") repeat top center;
        }
        .preview-name {
            display: none;
            background: url("../images/webuploader/bg.png") repeat top center;
        }
        .handle-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 0 5px;
            height: 22px;
            font-size: 14px;
            line-height: 22px;
            background-color: rgba(0, 0, 0, 0.8);
            display: none;
        } // .upbtn-upload {
        //     float: right;
        //     margin-left: 15px;
        //     color: #fff;
        //     text-decoration: none;
        //     cursor: pointer;
        //     display: none;
        //     &:hover {
        //         text-decoration: underline;
        //     }
        // }
        .upbtn-del {
            float: right;
            margin-left: 15px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }


        .upbtn-del-server {
            position: absolute;
            width: 25px;
            height: 25px;
            line-height: 25px;
            overflow: hidden;
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 100%;
            text-align: center;
            display: none;
            background-image: url("../images/webuploader/del.png");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            &:hover {
                background-color: darken(#000, 5%);
            }
        }
        .error {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 25px;
            line-height: 25px;
            text-align: center;
            background: #f60;
            color: #fff;
            font-size: 12px;
            display: none;
        }
        .successing {
            width: 40px;
            height: 40px;
            background: url("../images/webuploader/success.png") no-repeat top center;
            position: absolute;
            right: 0;
            bottom: 0;
            display: none;
        }

        .progressing {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 15px;
            overflow: hidden;
            z-index: 50;
            margin-bottom: 0;
            display: none;
            span {
                overflow: hidden;
                width: 0;
                height: 100%;
                display: block;
                background: url("../images/webuploader/progress.png") repeat-x #1483d8;

                transition: width 200ms linear;

                -webkit-animation: progressmove 2s linear infinite;
                -moz-animation: progressmove 2s linear infinite;
                -o-animation: progressmove 2s linear infinite;
                -ms-animation: progressmove 2s linear infinite;
                animation: progressmove 2s linear infinite;

                -webkit-transform: translateZ(0);
            }
        }
    }
}

.ckeditor-uploadfile-hd {
    height: 45px;
    border-bottom: 1px solid #dadada;
    margin: 0 10px;
    padding: 0;
    line-height: 45px;
    background: #fff;
    vertical-align: middle;
    position: relative;
    clear: both;
    .img-upload-btn {

        margin-top: 6px;
        background: #00b7ee;
        color: #fff;
        text-decoration: none;
        padding: 0 15px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 14px;
        float: right;
        height: 35px;
        line-height: 35px;

        &.disabled {
            opacity: 0.5;
            background: #d1d1d1;
            cursor: not-allowed;
        }
    }

    .img-pause-btn {
        background: #ffffff;
        border: 1px solid #cfcfcf;
        color: #565656;
        padding: 0 15px;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        margin-top: 6px;
        margin-right: 10px;
        display: none;
    }

    .img-add-btn {
        background: #ffffff;
        border: 1px solid #cfcfcf;
        color: #565656;
        padding: 0 15px;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        height: 33px;
        line-height: 33px;
        text-decoration: none;
        margin-top: 6px;
        &:hover {
            background: #f0f0f0;
        }
        &.disabled {
            opacity: 0.5;
            background: #d1d1d1;
            cursor: not-allowed;
            color:#fff;
        }
    }
    .img-upload-info {
        float: left;
        font-size: 14px;
        color: #666666;
        line-height: 46px;

        .info-txt {
            float: left;
        }
        .info-progress {
            border: 1px solid #1483d8;
            width: 198px;
            display: none;
            background: #fff;
            height: 18px;
            margin-top: 13px;
            float: left;

            position: relative;
            text-align: center;
            line-height: 20px;
            color: #6dbfff;
            position: relative;
            margin-right: 10px;

            .txt {
                position: relative;
                z-index: 10;
            }
            .percentage {
                width: 0;
                height: 100%;
                left: 0;
                top: 0;
                background: #1483d8;
                position: absolute;
            }
        }
    }
}


.ckeditor-uploadfile-ft {
    padding: 12px 15px;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    .ft-btn-cancel {
        background: #ffffff;
        border: 1px solid #cfcfcf;
        color: #565656;
        padding: 0 30px;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        &:hover {
            background: #f0f0f0;
        }
    }
    .ft-btn-insert {
        float: right;
        background: #00b7ee;
        color: #fff;
        text-decoration: none;
        padding: 0 30px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 14px;
        float: right;
        height: 35px;
        line-height: 35px;

        &:hover {
            background: #00a2d4;
        }
        &.disabled {
            opacity: 0.5;
            background: #d1d1d1;
            cursor: not-allowed;
        }
    }
    .ft-save-checkbox {
        float: left;
        padding: 5px 0;
        margin-right: 10px;
        input {
            vertical-align: middle;
        }
    }
    .ft-gallery-sel {
        float: left;
        border: 1px solid #cfcfcf;
        padding: 5px 10px;
    }
}

.ckeditor-gallery-nodata {
    text-align: center;
    font-size: 16px;
    color: #666;
    padding-top: 120px;
}

.ckeditor-localupload-container {
    display: none;
    &.active {
        display: block;
    }
}

.ckeditor-gallery-container {
    display: none;
    &.active {
        display: block;
    }
}

.ckeditor-gallery-hasdata {
    display: none;
}

.ckeditor-gallery-list {
    height: 315px;
    padding: 15px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    clear: both;
    li {
        width: 112px;
        height: 112px;
        float: left;
        margin: 10px 10px 0;
        overflow: hidden;

        position: relative;
        .pic {
            display: block;
            height: 110px;
            overflow: hidden;
            line-height: 110px;
            font-size: 0;
            border: 1px solid #ccc;
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .status-check {
            display: none;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 40px;
            width: 40px;
            z-index: 200;
            background: url("../images/webuploader/success.png") no-repeat right bottom;
        }
        &.selected {
            .pic {
                border-color: #00b7ee;
            }
            .status-check {
                display: block;
            }
        }
    }
}

.ckeditor-gallery-ft {
    border-top: 1px solid #eee;
    padding: 12px 15px;
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    .ft-galleryall-sel {
        float: left;
        border: 1px solid #cfcfcf;
        padding: 5px 10px;
        margin-top: 5px;
    }

    .ft-galleryall-cancel {
        background: #ffffff;
        border: 1px solid #cfcfcf;
        color: #565656;
        padding: 0 30px;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        &:hover {
            background: #f0f0f0;
        }
    }
    .ft-galleryall-insert {
        float: right;
        background: #00b7ee;
        color: #fff;
        text-decoration: none;
        padding: 0 30px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 10px;
        cursor: pointer;
        font-size: 14px;
        float: right;
        height: 35px;
        line-height: 35px;

        &:hover {
            background: #00a2d4;
        }
        &.disabled {
            opacity: 0.5;
            background: #d1d1d1;
            cursor: not-allowed;
            color:#fff;
        }
    }
}


.filePicker-btn-1 {
    float: right;
    background: #00b7ee;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: right;
    height: 35px;
    line-height: 35px;
}


// 
// 
.ckeditor-imgedit-dialog {
    display: none;
    padding-top: 15px;
    .item-cell {
        position: relative;
        padding-bottom: 10px;
        .lab {
            float: left;
            line-height: 40px;
            width: 60px;
            padding-right: 10px;
            text-align: right;
        }
        .ipt-text {
            border: 1px solid #c7c7c7;
            padding: 7px 5px;
            height: 18px;
            line-height: 18px;
        }
    }
    .item-ratio {
        position: absolute;
        height: 30px;
        overflow: hidden;
        right: 80px;
        top: 40px;
        .btnlock {
            width: 28px;
            height: 28px;
            float: left;
            margin-right: 5px;
            background: url("../images/lock_1.png") no-repeat center center;
            display: block;
            border: 1px solid #fff;
            cursor: pointer;
            &.unlock {
                background: url("../images/unlock_1.png") no-repeat center center;
            }
            &:hover {
                padding: 0;
                border: 1px solid #e5e5e5;
            }
        }
        .btnreset {
            width: 28px;
            height: 28px;
            float: left;
            border: 1px solid #fff;
            display: block;
            overflow: hidden;
            background: url("../images/refresh_1.png") no-repeat center center;
            cursor: pointer;
            &:hover {
                border: 1px solid #e5e5e5;
            }
        }
    }
}


.ckeditor-imgedit-ft {
    border-top: 1px solid #eee;
    padding: 12px 15px;
    text-align: center;


    .ft-btn-cancel {
        background: #ffffff;
        border: 1px solid #cfcfcf;
        color: #565656;
        padding: 0 30px;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin: 0 5px;
        text-decoration: none;
        &:hover {
            background: #f0f0f0;
        }
    }
    .ft-btn-insert {
        display: inline-block;
        background: #00b7ee;
        color: #fff;
        text-decoration: none;
        padding: 0 30px;
        display: inline-block;
        border-radius: 3px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 14px;

        height: 35px;
        line-height: 35px;

        &:hover {
            background: #00a2d4;
        }
        &.disabled {
            opacity: 0.5;

            cursor: not-allowed;
        }
    }
}

// *************插入表格**************