
@function px2rem($px, $base-font-size:75px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    }
    @else if (unit($px)==rem) {
        @return $px;
    }
    @return ($px / $base-font-size) * 1rem;
}

.coms-plupload-container {}

.coms-btn-choice {
    .btn-pickfiles {
        position: relative;
        float: left;
        cursor: pointer;
        background: #00b7ee;
        padding:px2rem(15px) px2rem(20px);
        min-width: px2rem(250px);
        color: #fff;
        text-align: center;
        border-radius:px2rem(6px);
        overflow: hidden;
        font-size:px2rem(32px);
        text-decoration: none;
        margin-right:px2rem(30px);

        &.disabled {
            opacity: 0.2;
            cursor: default;

            &:hover {
                background: #00b7ee;
            }
        }

        &:hover {
            background: darken(#00b7ee, 5%);
        }
    }

    .btn-startload-file {
        position: relative;
        display: none;
        float: left;
        cursor: pointer;
        background: #00b7ee;
        padding:px2rem(15px) px2rem(20px);
        min-width: px2rem(210px);
        color: #fff;
        text-align: center;
         border-radius:px2rem(6px);
        overflow: hidden;
        font-size:px2rem(32px);
        text-decoration: none;
       margin-right:px2rem(30px);
        color: #444;
        background-color: #e6e6e6;

        &.disabled {
            opacity: 0.5;
            cursor: default;

            &:hover {
                background: #e6e6e6;
            }
        }

        &:hover {
            background: darken(#e6e6e6, 5%);
        }
    }

    .btn-stopload-file {
        display: none;
        position: relative;
        float: left;
        cursor: pointer;
        background: #00b7ee;
       padding:px2rem(15px) px2rem(20px);
        min-width: px2rem(210px);
        color: #fff;
        text-align: center;
          border-radius:px2rem(6px);
        overflow: hidden;
        font-size:px2rem(32px);
        text-decoration: none;
        margin-right:px2rem(30px);
        color: #fff;
        background-color: #dd514c;

        &.disabled {
            opacity: 0.2;
            cursor: default;

            &:hover {
                background: #dd514c;
            }
        }

        &:hover {
            background: darken(#dd514c, 5%);
        }
    }
}

.coms-plupload-nofile {
    width:px2rem(250px);
    height:px2rem(250px);
    overflow: hidden;
    margin-bottom: px2rem(30px);
    border: px2rem(2px) solid #e6e6e6;
    background: url("../images/webuploader/not_file_image.png") no-repeat center center;
}

.coms-upload-info {
    padding: px2rem(20px) 0;

    overflow: hidden;
    font-size:0;

    .info-txt {
        font-size:px2rem(28px);
        float: left;

    }

    .info-progress {
        border: px2rem(2px) solid #1483d8;
        width: px2rem(400px);
        display: none;
        background: #fff;
        height:px2rem(30px);
        float: left;
line-height:px2rem(28px);
        position: relative;
        text-align: center;
        
        color: #6dbfff;
        position: relative;
        margin-right: px2rem(20px);

        .txt {
            position: relative;
            z-index: 10;
            
            font-size:px2rem(28px);
        }

        .percentage {
            position: absolute;
            width: 0;
           
            left: 0;
            top: 0;
            height:px2rem(28px);
            background: #1483d8;
            
        }
    }
}


.coms-upload-list {
    &.has-data{
        li:nth-child(2){
            display: none;
        }
    }
    li {
        float: left;
        width: px2rem(250px);
        height:px2rem(250px);
        margin-right:px2rem(40px);
        margin-bottom:px2rem(40px);
        position: relative;

        .img-wrap {
            border: px2rem(2px) solid #e6e6e6;
            font-size: 0;
         
            width:px2rem(250px); 
            height:px2rem(250px); 
            overflow: hidden;
            text-align: center;

            color: #000;
        }

        
        &.disabled{
            display:none;
        }
        .retry-upload-btn {
            position: absolute;
            width: px2rem(100px);
            height:px2rem(100px);
            left: 50%;
            top: 50%;
            margin: px2rem(-50px) 0 0 px2rem(-50px);
            border-radius: 100%;
            display: none;
            background: url("../images/webuploader/retry_upload_40.png") no-repeat center center;
            background-size:60% 60%; 
            background-color: rgba(0, 0, 0, 0.8);

            a {
                display: block;
                width: 100%;
                height: 100%;
                &.disabled{
                    display:none;
                }
            }
        }

        .preview-pic {
            display: none;
            line-height:px2rem(250px);
            overflow: hidden;
            text-align:center;


            .uploadimg,
            canvas {
                max-width: 100% !important;
                max-height: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .preview-tip,
        .preview-name {
            line-height:px2rem(250px);
            padding: 0 px2rem(20px);
            overflow: hidden;
            font-size:px2rem(22px);

            span {
                word-wrap: break-word;
                word-break: break-all;
                line-height: px2rem(35px);
                display: inline-block;
                vertical-align: middle;
            }
        }

        .preview-tip {
            font-size:px2rem(24px);
            color: #999;
            background: url("../images/webuploader/bg.png") repeat top center;
        }

        .preview-name {
            display: none;
            background: url("../images/webuploader/bg.png") repeat top center;
        }

        .handle-bar {
            position: absolute;
            top: 0;
            width:100%;
            padding: 0 px2rem(10px);
            height:px2rem(45px);
            font-size:px2rem(26px);
            line-height:px2rem(45px);
           
            display: none;
        }

        .upbtn-del {
            position: absolute;
            margin-left:px2rem(25px);
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            width:px2rem(50px);
            right:px2rem(-25px);
            top:px2rem(-25px);
            height:px2rem(50px);
            overflow: hidden;
            background: url("../images/webuploader/icon_close_2.png") no-repeat top center;
            background-size: 100% 100%;
            &:hover {
                text-decoration: underline;
            }
        }



        .error {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: px2rem(40px);
            line-height: px2rem(40px);
            text-align: center;
            background: #f60;
            color: #fff;
            font-size: px2rem(22px);
            display: none;
        }

        .successing {
            width: px2rem(60px);
            height: px2rem(60px);
            background: url("../images/webuploader/success.png") no-repeat top center;
            background-size:100% 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            display: none;
        }


        .progressing {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height:px2rem(25px);
            overflow: hidden;
            z-index: 50;
            margin-bottom: 0;
            display: none;

            span {
                overflow: hidden;
                width: 0;
                height: 100%;
                font-size:px2rem(26px);
                display: block;
                background: url("../images/webuploader/progress.png") repeat-x #1483d8;
                background-size:auto 100%; 

                transition: width 200ms linear;

                -webkit-animation: progressmove 2s linear infinite;
                -moz-animation: progressmove 2s linear infinite;
                -o-animation: progressmove 2s linear infinite;
                -ms-animation: progressmove 2s linear infinite;
                animation: progressmove 2s linear infinite;

                -webkit-transform: translateZ(0);
            }
        }
    }
}



.coms-upload-list {
    .item-upload-btn {
        width:px2rem(250px);
        height: px2rem(250px);
        a {
            display: block;
            width: 100%;
            height: 100%;
            border:px2rem(2px) solid #cdcdcd;
            box-sizing: border-box;
            background: url("../images/webuploader/retry_upload_60.png") no-repeat center center;

            &.disabled {
                opacity: 0.25;
                cursor: default;
            }
        }
    }
}